.venvdesk/
src/__pycache__/
test/
.venvport/
prompts/question.txt
prompts/public_managment_course.txt
models_elections.txt
diagrama.png
api_keys.txt
prompts/prompt_literature.txt
prompts/random.txt
prompts/5_results_propose.txt
prompts/4_focus_theory_problem.txt