{% extends "base.html" %}

{% block title %}Single file analysis{% endblock %}

{% block content %}
<h1>AI document analyzer</h1>

<form id="analysis-form" method="post" enctype="multipart/form-data">
    <div>
        <label for="document">1. Upload your document (.pdf, .docx, .txt):</label>
        <input type="file" id="document" name="document" required>
    </div>

    <div>
        <label for="prompt_selection">2. Select a prompt:</label>
        <select name="prompt_selection" id="prompt_selection" required>
            {% for prompt in prompts %}
                <option value="{{ prompt }}">{{ prompt }}</option>
            {% endfor %}
        </select>
    </div>

    <button id="submit-button" type="submit">Analyze document</button>
    <div id="loader">Processing, please wait...</div>
</form>

{% if results %}
<div class="results">
    <h2>Resultados del Análisis</h2>
    <h3>AI response</h3>
    <pre>{{ results.ai_response }}</pre>
    <h3>Response statistics</h3>
    <p><strong>Total words:</strong> {{ results.response_stats.total }} | <strong>Unique words:</strong> {{ results.response_stats.unique }}</p>
    <br>
    <h3>Original extracted text</h3>
    <pre>{{ results.extracted_text }}</pre>
    <h3>Original text statistics</h3>
    <p><strong>Total words:</strong> {{ results.text_stats.total }} | <strong>Unique words:</strong> {{ results.text_stats.unique }}</p>
</div>
{% endif %}
{% endblock %}